.navbar{
    background-color: #69a1fa;
    height: 80px;
    display: flex;
    position: sticky;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    .logo{
        font-size: 35px;
        margin-left: 50px;
        color: white;
        padding-bottom: 15px;
    }
    .nav-items{
        display: flex;
        height: 80px;
        max-height: 80px;
        margin-right: 50px;
        align-items: center;
        p{
            margin-right: 40px;
            color: white;
            &:hover{
                color: grey;
                cursor: pointer;;
            } 
        } 
    }
}