<div class="fluid-container">
    <div class="head-container">
        <div class="heading">
            <div class="moto">Find the</div>
            <div class="moto">Perfect recipe for</div>
            <div class="moto">Any occasion</div>
        </div>
        <div class="logo">
            <div>
                <img src="../../../assets/tckih9hn42jvamc89ffhoq4rta.png" alt="">
            </div>
        </div>
    </div>

    <div class="seperator">
        <div class="moto">
            Recipe Cards below
    </div>
    </div>


    <div class="recipe-card-container">
            <app-recipe-cards></app-recipe-cards>
            <app-recipe-cards></app-recipe-cards>
            <app-recipe-cards></app-recipe-cards>
    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>

</div>
