<h1>Recipes</h1>

<label>search for recipe</label>
<app-recipe-filter [allRecipes]="recipes" (filteredRecipes)="onFilterRecipes($event)"></app-recipe-filter>

<ul>
  <li *ngFor="let recipe of filteredRecipes">
    {{ recipe.title }}
  </li>
</ul>

<div *ngIf="error">
  <p>{{ error }}</p>  </div>

<div *ngFor="let recipe of recipes">
  <h2>{{ recipe.title }}</h2>
  <p>{{ recipe.description }}</p>
  <h3>Ingredients</h3>
  <ul>
    <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
  </ul>
  <h3>Instructions</h3>
  <ol>
    <li *ngFor="let instruction of recipe.instructions">{{ instruction }}</li>
  </ol>
  <button (click)="deleteRecipe(recipe.id)">Delete</button>
</div>
<app-footer></app-footer>

